<!doctype html>
<html>
<head>
<title>Node Authentication</title>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="scripts/verse.js"></script>
<link rel="stylesheet" href="css/verse.css" />

</head>
<body>

<h1>HEY!</h1>

</body>
</html>