<!doctype html>
<html>
<head>
<title>WinterMUTE - The Verse</title>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="scripts/jquery.terminal-0.8.7.min.js"></script>
<script src="scripts/ejs.js"></script>
<script src="scripts/verse.js"></script>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
<link rel="stylesheet" href="css/jquery.terminal.css" />
<link rel="stylesheet" href="css/verse.css" />

</head>
<body>

<div class="container-fluid">
  <div class="row-fluid">
    <div id="console" class="col-xs-12 col-sm-10">
    </div>
    <div id="palette" class="col-xs-12 col-sm-2">
      <div id="info">
        <% if (user.chars[0]) { %>
          <p><b>Hello, <%= user.chars[0].name %></b></p>
          <% if (user.chars.length > 1) { %>
            <p>Characters:</p>
            <ul>
            <% for(var i = 1; i < user.chars.length; i++) { %>
              <li>
                <% if (i == user.currentChar) %><b>
                <%= user.chars[i].name %>
                <% if (i == user.currentChar) %></b>
              </li>
            <% } %>
            </ul>
          <% } %>
        <% } %>
      </div>
      <p><button id="help" class="btn btn-info">help</button></p>
      <p>
        <button id="create-btn" class="btn btn-info">create</button>
        <button id="create-char-btn" class="btn btn-info">create character</button>
        <button id="create-btn-cancel" class="btn btn-default">X</button>
      </p>
    </div>
  </div>
</div>

<div id="char">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="content col-xs-12 col-sm-6 col-sm-offset-3">
        <form id="char-form">
          <h3>Create a new character</h3>
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label>List</label>
            <p class="help-block">This is what is displayed when a user lists a room's contents.<p>
            <div class="input-group">
              <span class="input-group-addon">&lt;Name&gt;,</span>
              <input type="text" class="form-control" name="list" placeholder="a person">
              <span class="input-group-addon">, is here.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Look</label>
            <p class="help-block">This is what is displayed when a user looks at you.<p>
            <textarea class="form-control" rows="3" name="look"></textarea>
          </div>
          <div class="form-group">
            <label>Move</label>
            <p class="help-block">This is what is displayed when you move in and out of a room.<p>
            <div class="input-group">
              <span class="input-group-addon">&lt;Name&gt;</span>
              <input type="text" class="form-control" name="move" placeholder="moves">
              <span class="input-group-addon">[in from the] north.</span>
            </div>
          </div>
          <div class="form-group">
            <label>Appear</label>
            <p class="help-block">This is what is displayed when you become visible or invisible.<p>
            <div class="input-group">
              <span class="input-group-addon">&lt;Name&gt; [dis]appears</span>
              <input type="text" class="form-control" name="appear" placeholder="in a puff of smoke">
              <span class="input-group-addon">.</span>
            </div>
          </div>
          <p>
            <button type="submit" class="btn btn-primary" data-cmd="create">Submit</button>
            <button type="submit" class="btn btn-primary" data-cmd="edit">Submit</button>
            <button type="button" class="btn btn-default" data-cmd="cancel">Cancel</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="tutorial">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="content col-xs-12 col-sm-6 col-sm-offset-3">
        <h2>Welcome to WinterMUTE</h2>
        <p>To get started, you must create an out-of-character persona. This is you, the architect, although it can be as fanciful as you like.</p>
        <p>You can change your name whenever you wish, but it's nice to the other players if you pick something and stick with it.</p>
        <p>We encourage everyone to look over the <a href="/tutorial" target="_blank">tutorial document</a>.</p>
        <p><button type="button" class="btn btn-primary" data-cmd="ok">OK</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>