html {
  height: 100%;
  padding: 15px 0;
}

body {
  height: 100%;
  background-image: url('../img/skulls.png');
  background-repeat: repeat;
}

div#console {
  height: 95%;
  padding: 2.5%;
  border-radius: 10px;
}

div#console::-webkit-scrollbar { 
  display: none; 
}

div#palette {
	height: 100%;
}

div#info {
	padding: 10px;
	background-color: #f0eff5;
	border: 1px solid #bbb6ca;
	border-radius: 6px;
	margin-bottom: 20px;
}

button#create-char-btn,
button#create-btn-cancel {
	display: none;
}

div#tutorial,
div#char,
div#zone {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	padding: 20px 0px;
	background-color: rgba(255, 255, 255, 0.8);
	overflow: scroll;
	z-index: 10;
	display: none;
}

div.content {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 6px;
}